<div class="card bg-paletteC rounded-lg flex flex-col w-[200px] min-h-[350px]">
  <div class="game-image p-5">
    <img
      *ngIf="videogame.urlImagen !== ''; else noImage"
      [src]="videogame.urlImagen"
      [alt]="videogame.name"
      class="w-[150px] h-[150px]"
    />
    <ng-template #noImage>
      <img
        src="../../../../assets/videogames/noImage.jpeg"
        [alt]="videogame.name"
        class="w-[150px]"
      />
    </ng-template>
  </div>
  <div class="game-info p-3">
    <div class="game-title text-lg font-medium">{{ videogame.name }}</div>
    <hr />
    <div class="game-info-list text-md">
      <ul>
        <li>
          {{ literals.MAIN.VIDEOGAME.LIST.VERSION }}: {{ videogame.versionActual }}
        </li>
        <li>{{ literals.MAIN.VIDEOGAME.LIST.STATUS }}: {{ videogame.estado }}</li>
        <li>
          {{ literals.MAIN.VIDEOGAME.LIST.PLATFORM }}: {{ videogame.plataformas }}
        </li>
      </ul>
    </div>
  </div>
</div>
