<div class="bg-paletteB h-[100vh] p-5">
    <div class="game-details-card bg-paletteC flex p-5 rojo">
        <div class="game-details-image-info azul flex flex-col items-center">
            <div class="game-image">
                <img *ngIf="videogame?.urlImagen" class="rounded-lg h-[200px] w-[200px]" [src]="videogame.urlImagen" [alt]="videogame.name">
            </div>
            <span class="game-name text-2xl mt-3">{{videogame.name}}</span>
            <span class="game-version mt-3">V{{videogame.versionActual}}</span>
            <span class="game-downloads mt-3"> {{videogame.descargas}}</span>
        </div>
    </div>
</div>